*.out
!include
00MANIFEST
ccnd/anything.ccnb
ccnd/Makefile
ccnd/ccnd
ccnd/ccnd_built.sh
ccnd/ccnd-init-keystore-helper
ccnd/ccndsmoketest
ccnd/contentobjecthash.ccnb
ccnd/contentobjecthash.out
ccnd/contentmishash.ccnb
ccnd/minsuffix.ccnb
ccnd/smoketestccnd
conf.mk
conf/local.mk
cmd/Makefile
cmd/ccn_ccnbtoxml
cmd/ccn_fetch_test
cmd/ccn_splitccnb
cmd/ccn_xmltoccnb
cmd/ccnbasicconfig
cmd/ccnbuzz
cmd/ccnbx
cmd/ccncat
cmd/ccncatchunks
cmd/ccncatchunks2
cmd/ccndump
cmd/ccndumpnames
cmd/ccndumppcap
cmd/ccnget
cmd/ccnhexdumpdata
cmd/ccnls
cmd/ccnput
cmd/ccnrm
cmd/ccnsendchunks
cmd/ccnseqwriter
cmd/ccnsimplecat
cmd/ccnslurp
cmd/ccntimestamps
cmd/dataresponsetest
lib/Makefile
lib/basicparsetest
lib/ccn_verifysig
lib/encodedecodetest
lib/hashtbtest
lib/libccn.a
lib/matrixtest
lib/signbenchtest
lib/skel_decode_test
lib/smoketestclientlib
libexec/Makefile
libexec/ccndc
libexec/ccndc-inject
libexec/udplink
tests/Makefile
tests/FAILING
tests/SKIPPED
tests/STATUS/
tests/ephemeral*
